#flex3D {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    position: relative;
}

#Scene {
    object-fit: cover;
    width: 100%;
}

.ThreeD {
    width: 40%;
    position: absolute;
    text-align: justify;
    color: black;
    margin-bottom: 0;
    font-family: Monocraft;
    font-style: italic;
}

@media screen and (max-width: 1500px) {

    #flex3D {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0;
    }

    .ThreeD {
        width: 80%;
        font-size: 11px;
    }
    
    .Button-Image {
        bottom: 10px;
    }

    .Linkedin {
        height: 80px;
        width: 153px;
    }

    #Scene {
        width: 100%;
        height: 500px;
    }

}